# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
tags

# Bower stuff.
server/assets/libraries

# DotEnv
.env

#Python
*.py[co]
*.DS_*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
server/static/js
server/static/libraries
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

*.rope


