# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rope
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
tags
.idea

# Bower stuff
server/static/lib

# npm
node_modules
./server/static/node_modules


# Pyenv 
.env

# Python
*.py[co]
*.DS_*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
server/static/js
server/static/libraries
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

server/user_content/*
