<html>
  <head>
    <title>Testing API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
        <div id="sign-in">
      <a href={{ url_for('post_user', username='SJCaldwell', password='alice', email="shane.caldwell12@ncf.edu") }}><img src="static/img/sign-in-with-google.png"/></a>
  </div>
      <br>
      <br>
  </body>
</html>